---
Language: Cpp
BasedOnStyle: Chromium

AccessModifierOffset: -4
ColumnLimit: 100
IncludeBlocks: Regroup
IndentWidth: 4
SpacesBeforeTrailingComments: 1

IncludeCategories:
  - Regex: '^".*'
    Priority: 1
  - Regex: '^<boost/'
    Priority: 2
  - Regex: '^<.*\.h>$'
    Priority: 3
  - Regex: '.*'
    Priority: 4
...
