---
Language: Cpp
BasedOnStyle: Chromium

AccessModifierOffset: -4
BinPackArguments: false
ColumnLimit: 100
IncludeBlocks: Regroup
IndentWidth: 4
SpacesBeforeTrailingComments: 1

IncludeCategories:
  - Regex: '^".+'
    Priority: 1
  - Regex: '^<test_lib\.|^<pdb\/'
    Priority: 2
  - Regex: '^<boost\/'
    Priority: 3
  - Regex: '^<.*\.h>$'
    Priority: 4
  - Regex: '.*'
    Priority: 5
...
