---
Language: Cpp
BasedOnStyle: Chromium

AccessModifierOffset: -4
BinPackArguments: false
ColumnLimit: 100
IncludeBlocks: Regroup
IndentWidth: 4
SpacesBeforeTrailingComments: 1

IncludeCategories:
  - Regex: '^".*'
    Priority: 1
  - Regex: '^<pdb/'
    Priority: 2
  - Regex: '^<boost/'
    Priority: 3
  - Regex: '^<SafeInt.hpp>$'
    Priority: 4
  - Regex: '^<.*\.h>$'
    Priority: 5
  - Regex: '.*'
    Priority: 6
...
