---
Checks:
  - bugprone-*
  - clang-analyzer-*,
  - clang-diagnostic-*
  - cppcoreguidelines-*
  - modernize-*
  - -modernize-use-nullptr
  - -modernize-use-trailing-return-type
  - performance-*
...
